{% extends '::header_base.html.twig' %}


{% block navbar_content %}
    {# {% if is_granted('IS_AUTHENTICATED_FULLY') %} #}
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Triage<span class="sr-only">(current)</span></a></li>
            <li><a href="#">History</a></li>
        </ul>
    {# {% endif %} #}
{% endblock %}
