{% extends '::header_base.html.twig' %}


{% block navbar_content %}
    {# {% if is_granted('IS_AUTHENTICATED_FULLY') %} #}
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('homepage') }}">RedHat Search<span class="sr-only">(current)</span></a></li>
            <li><a href="{{ path('rhel_triage_page') }}">RHEL Triage</a></li>
        </ul>
    {# {% endif %} #}
{% endblock %}
