{% extends 'base.html.twig' %}

{% block header_content %}
    {% embed ":default:header.html.twig" %}
    {% endembed %}
{% endblock %}


{% block stylesheets %}
{% endblock %}


{% block main_content %}
    <div class="row">
        <div class="col-md-10">
            <h3 class="text-primary">Triage of {{ cvrf }}</h3>
        </div>
    </div>

    <rheltriageit></rheltriageit>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/rhelsec/rheltriageit.tag') }}" type="riot/tag"></script>

    <script type="text/javascript">
        riot.mount('rheltriageit', { cvrf: "{{ cvrf }}" });
    </script>
{% endblock %}
