{% extends 'base.html.twig' %}

{% block header_content %}
    {% embed ":default:header.html.twig" %}
    {% endembed %}
{% endblock %}


{% block stylesheets %}

{% endblock %}


{% block main_content %}

    <ul class="nav nav-tabs">
      <li class="active"><a href="#" onclick="{ goTo('issues') }">Issues</a></li>
      <li><a href="#" onclick="{ goTo('assignment') }">Assignent</a></li>
      <li><a href="#" onclick="{ goTo('edit') }">Edit</a></li>
      <li><a href="#" onclick="{ goTo('create') }">Create</a></li>
    </ul>

    <div id="issue"></div>
{% endblock %}


{% block javascripts %}

    <script src="{{ asset('assets/tags/rhissues.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/tags/rhissueassign.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/tags/rhissueedit.tag') }}" type="riot/tag"></script>
    <script src="{{ asset('assets/tags/rhissuecreate.tag') }}" type="riot/tag"></script>

    <script type="text/javascript">

        var currentPage = null;

        function goTo(path) {
            if (currentPage) {
                currentPage.unmount(true);
            }

            $('#nav li a').click(function() {
                $('#nav li').removeClass('active');
                $(this).parent().addClass('active');
            });

            if (path === 'assignment') {
                currentPage = riot.mount('div#issue', 'issueassign')[0];
            }
            else if (path === 'edit' ) {
                currentPage = riot.mount('div#issue', 'issueedit')[0];
            }
            else if (path === 'create' ) {
                currentPage = riot.mount('div#issue', 'issuecreate')[0];
            }
            else {
                currentPage = riot.mount('div#issue', 'issues')[0];
            }
        }
        route(goTo);
        route.start();
        route.exec();
    </script>
{% endblock %}
