# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: 3306
    database_name: rhelcve
    database_user: root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    # A secret key that's used to generate certain security-related tokens
    secret: 'd_ôtezù)"ǘHZ!*^W<,4Ybsh'

    api_caller.options:
        timeout: 10
        ssl_verifypeer: false
        useragent: "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"
        followlocation: true
        sslversion: 1
        fresh_connect: false
